In [ ]:
conda install -c anaconda beautifulsoup4

In [ ]:
conda install -c anaconda lxml

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

print('Libraries imported')

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
print('Done')
#source

In [ ]:
soup = BeautifulSoup(source,"html.parser")

In [ ]:
table=soup.find('table')
table

In [ ]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [ ]:
for row_cell in table.find_all('tr'):
    row=[]
    for data_cell in row_cell.find_all('td'):
        row.append(data_cell.text.strip())
    if len(row)==3:
        df.loc[len(df)]=row

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [ ]:
df.head()

In [ ]:
df.shape

Ignore cells with a borough that is Not assigned.

In [ ]:
df=df[df['Borough']!='Not assigned']

In [ ]:
df.shape

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [ ]:
df[df['Neighborhood'] =='Not assigned'].count()

No 'Not assigned' neighborhood in the dataframe

In [ ]:
df.shape

Using the csv file to create Latitude and Longitude columns

In [130]:
!wget -q -O 'Toronto_long_lat_data.csv'  http://cocl.us/Geospatial_data
df_cor = pd.read_csv('Toronto_long_lat_data.csv')
df_cor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [131]:
df_cor.columns=['Postalcode','Latitude','Longitude']

In [132]:
df_cor.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [135]:
Toronto_df = pd.merge(df,
                 df_cor[['Postalcode','Latitude', 'Longitude']],
                 on='Postalcode')
Toronto_df

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999